<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />
	<title>{{site.title}}</title>
	<!-- force IE to latest -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- description -->
	<meta name="description" content="{{site.meta['site description']}}" />
	<!-- keywords -->
	<meta name="keywords" content="{{site.meta['site keywords']}}" />
	<!-- viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<!-- rewrite URLs for @2x retina images -->
	<script>
	    if((window.devicePixelRatio===undefined?1:window.devicePixelRatio)>1)
		document.cookie='HTTP_IS_RETINA=1;path=/';
	</script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->

	<!-- css -->
	<link href="/assets/styles/css/site.css" rel="stylesheet">
	<link rel="stylesheet/less" type="text/css" href="assets/styles/less/__site.less" />

	</head>
	<body class="{{type}}">